@font-face {
    font-family: 'Thiccboiregular';
    src: url('../../assets/fonts/THICCCBOI-Regular.ttf')
}

@font-face {
    font-family: 'Thiccboimedium';
    src: url('../../assets/fonts/THICCCBOI-Medium.ttf')
}

@font-face {
    font-family: 'Thiccboibold';
    src: url('../../assets/fonts/THICCCBOI-Bold.ttf')
}

@font-face {
    font-family: 'Adobelight';
    src: url('../../assets/fonts/AdobeCleanLight.otf')
}

@font-face {
    font-family: 'Adobemedium';
    src: url('../../assets/fonts/AdobeCleanUXMedium.otf')
}

@font-face {
    font-family: 'Graphik';
    src: url('../../assets/fonts/GraphikBold.otf')
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    background-color: #F6F4FB;
    width: 100%;
}

.wrapper {
    max-width: 1440px;
    height: 100%;
    position: relative;
    margin: auto;
    background: #F6F4FB;
    font-family: 'Thiccboiregular';
}

#visible-page-section {
    display: flex;
}




/* START OF defaults */

.chnge-right {
    display: none;
}

.active-left-btn {
    border: 1px solid #000;
    color: #000;
    background: #fff;
}

.active {
    color: rgb(1, 112, 1);
    background: rgb(177, 247, 177);
    border-radius: 5px;
}

.inactive {
    color: rgb(207, 0, 0);
    background: rgb(248, 157, 157);
    border-radius: 5px;
}

.submit-btn {
    padding: 7px 12px;
    font-family: 'Thiccboimedium';
    font-size: 14px;
    color: #000;
    background: #999;
    transition: 0.3s ease;
    cursor: pointer;
    border: 1px solid #000;
    width: 150px;
    align-self: flex-end;
}

.coupon-btn {
    font-family: 'Adobemedium';
    color: #000;
    background: #999;
    border: 1px solid #000;
    cursor: pointer;
    padding: 5px 8px;
    transition: 0.3s ease;
}

.coupon-btn:hover {
    background: #444;
}

.coupon-input {
    width: 73px;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Thiccboimedium';
    border: 1px solid #999;
}

.submit-btn:hover {
    background: lightblue;
}

/* END OF defaults */



/* START OF orders */

#orders-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 40px;
    width: 75%;
    margin-left: 25%;
}

#orders-section .pending-orders-title {
    font-family: 'Adobemedium';
    font-size: 24px;
    padding: 5px 10px;
    color: #fff;
    background: #000;
    border-radius: 10px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#orders-section .pending-orders-contents {
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    gap: 20px;
    overflow-x: auto;
}

#orders-section .pending-contents-title {
    display: flex;
    padding: 10px;
    background: #fff;
    font-family: 'Thiccboimedium';
    width: 130%;
}

.orderId-title,
.number-title,
.fname-title {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-title,
.date-title,
.address-title {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.product-title,
.status-title {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-title {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#orders-section .pending-contents-contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
}

#orders-section .pending-contents-contents .pending-div {
    display: flex;
    width: 130%;
    font-family: 'Adobelight';
    background: rgba(207, 207, 207, 0.288);
    padding: 20px 10px;
    border-radius: 10px;
}

#orders-section .pending-contents-contents .pending-div .orderId,
.number,
.fname {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#orders-section .pending-contents-contents .pending-div .email,
.address,
.date {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}

#orders-section .pending-contents-contents .pending-div .product,
.status {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#orders-section .pending-contents-contents .pending-div .quantity {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#orders-section .pending-contents-contents .pending-div select {
    font-family: 'Thiccboimedium';
    padding: 5px;
}

#orders-section .closed-orders-title {
    font-family: 'Adobemedium';
    font-size: 24px;
    padding: 5px 10px;
    color: #fff;
    background: #000;
    border-radius: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#orders-section .closed-orders-contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: auto;
    padding-top: 30px;
}

#orders-section .closed-contents-title {
    display: flex;
    width: 130%;
    align-items: center;
    padding: 10px;
    font-family: 'Thiccboimedium';
    background: #fff;
}

.clorderId-title,
.clnumber-title,
.clfname-title {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clemail-title,
.claddress-title {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clproduct-title,
.clstatus-title {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clquantity-title {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cldate-title {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#orders-section .closed-contents-contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
}

#orders-section .closed-contents-contents .closed-div {
    display: flex;
    width: 130%;
    font-family: 'Adobelight';
    background: rgba(207, 207, 207, 0.288);
    padding: 20px 10px;
    border-radius: 10px;
}

#orders-section .closed-contents-contents .closed-div .clorderId,
.clnumber,
.clfname {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#orders-section .closed-contents-contents .closed-div .clemail,
.claddress {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#orders-section .closed-contents-contents .closed-div .clproduct,
.clstatus {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#orders-section .closed-contents-contents .closed-div .clquantity {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#orders-section .closed-contents-contents .closed-div .cldate {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* END OF orders */